.user-info__edit-button {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: #000;
    box-sizing: border-box;
    width: 38px;
    height: 18px;
    margin-top: 18px;
    align-self: center;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 980px) {
    .user-info__edit-button {
      margin: auto;
      margin-top: 18px;
    }
  }
  
